body {
    margin: 0;
}

h1 {
    font-family: Cinzel, serif;
    font-size: 46px;

}

h2 {
    font-family: 'Fauna One', serif;
    font-size: smaller;
}

.gradient-background {
    background: linear-gradient(300deg, #86A788, #FFFDEC, #FFCFCF);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}  

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .circular {
    border-radius: 50%;
  }

  .h3 {
    color: #86A788 !important;
  }

  .resume-link {
    color:#86A788
  }

  .project-button {
    background-color: #86A788; 
    border-color: #86A788;
    font-size: 13px;
    padding: 3px 5px
  }

  .email-button {
    background-color: #FFCFCF; 
    border-color:#FFCFCF;
    padding: 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button-text {
    color: white;
    text-decoration: none;
  }

  .gradient-background2 {
    background: linear-gradient(300deg, #86A788, #FFFDEC, #FFCFCF);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
  }
